*.html
arg
background
closedup
conflict
crooked_env
demo/
dup2
exec
file*
file1
file2
foo
fork
index.html
log
modify_env
open
openFile
output
pid
redirecStdout
redirect
tofd
wait
write
pipe
pipeline
errors
fdexec
fdfork
*.out
